*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    overflow-x: hidden;
  }

/* START: CSS Variables */
:root {
    --white: #ffffff;
    --blue: #ebf5fb;
    --darkBlue: #111e49;
    --green: #4caf50;
  }
/* END: CSS Variables */

/* START: Home Top Bar */
.home-top-bar{
    background-color: var(--blue);
    padding: 0.4rem 1rem;
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.home-top-bar-right ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}

.home-top-bar-right ul li a{
    text-decoration: none;
    color: black;
}
/* END: Home Top Bar */

/* START: Search Section */
.nav-search-section{
    background-color: var(--white);
    padding: 8%;
    margin-left: 25%;
}

#searchBox{
    width: 32vw;
    height: 6vh;
    padding: 0 10px;
    border: none;
    border-bottom: 1px solid black;
}

.search-trending-box a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
}
#searchSection {
    display: none;
}

#searchSection.active {
    display: block;
}

#closeSearch {
    display: none;
}

#searchSection.active #closeSearch {
    display: block;
}
/* END: Search Section */